/**
 * @author Nat Welch
 * @version 1.2
 */

a, a:visited {
   color: #0F0F8F;
}
 
.site {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	text-align: left;
	padding: 5px;
}

.posts li {
	list-style-type: none;
	border-top: 1px none #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 2px 4px;
}

.posts li.one {
	background: #CCC;
}

.posts li.none {
	border-style: none;
}

.site .footer {
	color: #666;
	text-align: center;
	font-size: 0.75em;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
}

.posts {
	padding: 5px;
	margin-top: 0px;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size:13.34px;
}

h1 {
   font-size: 1.3em;
}

h2 {
   font-size: 1.2em;
}

h3 {
   font-size: 1.1em;
}

h4, h5, h6 {
   font-size: 1em;
}

.site #related h2 {
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
}

.site #post .post-title {
	font-size: 1.5em;
}

.site #post .post-meta {
	font-size: 0.9em;
	color: #666;
}

.site .header {
	text-align: center;
	padding: 10px 20px;
	margin: 0px 0px 20px;
}

.site .header #description {
   font-size: 0.9em;
}

.site .header #title{
   font-size: 1.1em;
}

.site .header a {
	text-transform: capitalize;
	font-weight: 900;
	font-size: 1.05em;
}

.posts li span.date {
   text-transform: uppercase;
   font-family: monospace;
}

.footer #site-meta {
   font-size: 0.85em;
   font-family: monospace;
}

.footer p {
   padding: 0;
   margin: 0;
}

#permalink {
   font-size: 0.6em;
   margin-left: 10px;
   vertical-align: middle;
}

#content {
   padding: 2px;
   border-bottom: 1px dashed #666;
   margin-bottom: 5px;
}

#post-prev {
}

#post-next {
   float: right;
}

/* Archives page */
#archives .year {
	font-size: 2em;
	color: #333;
	width: 100px;
}

#archives ul {
	list-style-type: none;
	margin: 0;
   padding: 5px;
}

#archives .month {
   font-size: 1.3em;
	padding: 3px;
	margin-bottom: 0px;
}

#archives li {
   padding-left: 20px;
}

#archives .day {
   font-weight: bold;
   color: #333;
}

#archives li, #archives .month {
	margin-left: 30px;
}

#twitter_update_list {
   list-style: none;
   margin: 0;
}

#about p, #post-list ul, #twitter_update_list {
   padding: 0 0 0 15px ;
}

#about p {
   text-indent: 1em;
}

