# Some of this was stolen from Tatey.com

# Migrated from `date` to `pretty` permalink structure.
RewriteEngine On

# For debugging. Should set level to 0 in deployment
#RewriteLog "rewrite.log"
#RewriteLogLevel 2

RewriteRule ^feed/ /atom.xml [L,R=301]

# Directory index is never accessible.
# /index.html -> /
# /foo/index.html -> /foo/
RewriteCond %{REQUEST_URI} ^\/.*index\.(htm.|php)$
RewriteRule ^(.*)index.(htm.|php)$ /$1 [R=301,L]

# Continue to support deprecated permalink structure.
# /2009/09/09/foo.html -> /2009/09/09/foo/
RewriteCond %{REQUEST_URI} \/\d{4}\/\d{2}\/\d{2}\/.+\.html$
RewriteRule (.+).html$ /$1/ [R=301,L]

# compress all text & html:
AddOutputFilterByType DEFLATE text/html text/plain text/xml

ErrorDocument 404 /404.html
