---
layout: default
alt: This is a single post, but you can find more in the <a href="/archives/">archives</a>.
---
<div id="post">
  <div class="post-title">{{ page.title }}<a id="permalink" href="{{ page.url }}">#</a></div>

  <div class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%B %d, %Y" }}
    </time>
    {% if page.location %}
      &mdash; {{ page.location }}
    {% endif %}
  </div>

  <div class="content, clearfix">
    {{ content }}
  </div>

  <div id="sharebuttom" class="clearfix">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_counter addthis_pill_style"></a>
    </div>

    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=icco"></script>
    <!-- AddThis Button END -->
  </div>
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li class="{% cycle 'one', 'two' %}"><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="navigation">
  {% if page.next %}
    <div id="post-next">
      <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next</a> &raquo;
    </div>
  {% endif %}

  {% if page.previous %}
    <div id="post-prev">
      &laquo; <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">Previous</a>
    </div>
  {% endif %}
</div>
