<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}" />
  </head>
  <body>
    Hey! I've moved all of my posts to my new blog. You can check this post out at <a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </body>
</html>
